:root {
    --light-green: #35e77f;
    --dark-green: #11998e;
  }

    .landing{
    background: url("../images/General/Bg-app.png");
    background-position: center;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    background-size: cover;
}