:root {
  --light-green: #35e77f;
  --dark-green: #11998e;
}

.bg-light-green {
  background-color: var(--light-green);
}

.bg-dark-green {
  background-color: var(--dark-green);
}

.bg-dark{
  background-color: #1c1c1c;
}

.icon-bg{
  padding:5%;
  border-radius:50%;
  background: linear-gradient(135deg, #35E77F 14.3%, #11998E 85.52%);
  color:white;
}

.full-screen{
  height:100vh !important;
  width:100vw !important;
}

.head1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
}

.subTitle1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}
