.landing {
  height: 100vh;
  width: 100vw;
  background: url("../images/WebHeroBg.png");
  background-size: cover;
  background-position: center;
}

.webHeroImg {
  transform: translateY(10%);
  width: 70%;
}

.webFeatures {
  background-color: #0e0e0e;
  height: 100vh;
  width: 100vw;
  padding-top: 20%;
}

.webDotEl {
  transform: translateX(-76vw) translateY(-40%);
  width: 150px;
  height: 150px;
  left: -20px;
}
